* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  /*# contenedor */
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    margin: 25px 0 10px 0;
    font-size: 20px;
  }

  .producto {
    margin: 20px 0;
  }
  


  /*# botones */
  
  .btn{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn-urgente, .btn-normal {
    background-color: #ff6347;
    color: white;
    padding: 8px 16px;
  }
  
  .btn-normal {
    background-color: #32CD32;
  }
  
  .btn-generar {
    background-color: #555;
    color: white;
    padding: 12px 24px;
    margin-top: 25px;
  }
  
  .btn-urgente:active {
    background-color: #e53e2f;
  }
  .btn-normal:active {
    background-color: #228B22;
  }
  .btn-generar:active {
    background-color: #000;
  }
  